@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");
.projects {
  grid-area: projects;
  justify-self: end;
  font-family: "Montserrat", sans-serif;
  padding: 20px 20px;
  font-size: 1.3vw;
  font-weight: bolder;
  transition: color 0.15s ease-in-out;
  text-align: center;
}

.experience {
  grid-area: experience;
  justify-self: start;
  font-family: "Montserrat", sans-serif;
  padding: 20px 20px;
  font-size: 1.3vw;
  font-weight: bolder;
  transition: color 0.15s ease-in-out;
  text-align: center;
}

.selected {
  background-color: rgb(219, 235, 196);
  color: rgb(32, 113, 89);
}

.projects:hover,
.experience:hover {
  background-color: rgb(219, 235, 196);
  color: rgb(32, 113, 89);
  cursor: pointer;
}
