@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Ubuntu&display=swap');

.about {
    grid-area: about;
    text-align: left;
    justify-self: start;
    align-self: center;
}

.subheader {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.1vw;
    padding-top: 5%;
}

.paragraph {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 2%;
    font-size: 1.3vw;
}

.image {
    grid-area: image;
    justify-self: center;
    align-self: center;
    height: 400px;
    width: auto;
    border-radius: 5%;
}