@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Ubuntu&display=swap");

.about {
  grid-area: about;
  /* display:; */
  text-align: left;
  justify-self: start;
}

.subheader {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.1vw;
  padding-top: 5%;
}

.paragraph {
  font-family: "Ubuntu", sans-serif;
  padding-top: 2%;
  font-size: 1.3vw;
}

.image {
  grid-area: image;
  justify-self: center;
  width: auto;
  border-radius: 5%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="image"] {
    height: 40%;
  }
  [class*="subheader"] {
    font-size: 4vw;
  }
  [class*="paragraph"] {
    font-size: 2.2vw;
  }
}

@media only screen and (min-width: 768px) {
  .image {
    height: 75%;
  }
}
