@import url("https://fonts.googleapis.com/css2?family=Allura&family=Montserrat&display=swap");

.container {
  font-family: "Montserrat", sans-serif;
  background-color: (0, 0, 0, 0);
  color: rgb(219, 235, 196);
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.item {
  float: left;
  padding: 20px 22px;
  font-weight: bolder;
  text-decoration: none;
  float: left;
  color: rgb(219, 235, 196);
  font-size: 18px;
  transition: color 0.15s ease-in-out;
}

.itemName {
  float: left;
  padding: 20px 22px;
  font-weight: bolder;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.15s ease-in-out;
}

.itemName:hover {
  color: #fff;
}

.item:hover {
  background-color: rgb(219, 235, 196);
  color: rgb(32, 113, 89);
  cursor: pointer;
}

.icon {
  float: right;
  padding: 20px 22px;
  transition: color 0.15s ease-in-out;
}

.icon:hover {
  background-color: rgb(219, 235, 196);
  color: rgb(32, 113, 89);
  cursor: pointer;
}
