.item {
    float: left;
    color: #05386b;
    padding: 19px 22px;
    font-weight: bolder;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.15s ease-in-out;
    margin-bottom: auto;
  }
  
  .item:hover {
    background-color: #05386b;
    color: white;
  }
  
  .item.active {
    background-color: #04AA6D;
    color: white;
  }