.iconLocation {
  margin-left: auto;
  display: flex;
  margin-bottom: 0%;
}

.icon {
  padding: 20px 22px;
  transition: color 0.15s ease-in-out;
}

.icon:hover {
  background-color: rgb(219, 235, 196);
  color: rgb(32, 113, 89);
  cursor: pointer;
}
