.item {
  float: left;
  padding: 19px 22px;
  font-weight: bolder;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.15s ease-in-out;
  text-align: center;
}

.item:hover {
  background-color: rgb(219, 235, 196);
  color: rgb(32, 113, 89);
  cursor: pointer;
}
