@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Ubuntu&display=swap');

.experience {
    grid-area: experience;
    justify-self: center;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}