.button {
    font: inherit;
    border-bottom: 2px solid rgb(219, 235, 196);
    background: inherit;
    color: rgb(219, 235, 196);
    /* padding: 0.25rem 1rem; */
    cursor: pointer;
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: rgb(219, 235, 196);
    border-color: rgb(32, 113, 89);
    color: rgb(32, 113, 89);
  }
  
  .button:focus {
    outline: none;
  }