@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

.container {
  background: rgb(32, 113, 89);
  margin: 0 auto;
  color: rgb(219, 235, 196);
  display: grid;
  height: 220vh;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 100vh 45vh 65vh 10vh;
  gap: 10px;
  grid-template-areas:
    ". main main ."
    ". image about ."
    ". exp exp .";
}